@model HotelBookingRooms.BLL.Entities.Hotel
@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            No reservation
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Hotel name
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.Name)
        </dd>

    </dl>
    @using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-danger"
                   onclick="return confirm('Are you sure you want to delete?')" />
            @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>