@model IQueryable<HotelBookingRooms.BLL.Entities.Hotel>

    @{
        ViewData["Title"] = "Setup Solution";
    }
Bujaka
    <table class="table table-striped">
        <tr>
            <th>
                Hotel ID<!-- Przyjałem, że id rez będzie tez numer rez-->
            </th>
            <th>
                @*@Html.ActionLink("Imie", "Index", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })*@
                Nazwa hotelu
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>

        }
    </table>