@model HotelBookingRooms.BLL.Entities.Room

@{
    ViewData["Title"] = "Edit";
}
<h2>
    Hotel name: @Model.RoomType.Hotel.Name </br>
</h2>
<h2>You edit room with number: @Model.RoomNumber</h2>


<hr />

@if (ViewBag.Error == true)
{
    <div class="alert alert-danger" role="alert">
        Appear error while editing
    </div>
}
else if (ViewBag.Error == false)
{
    <div class="alert alert-success" role="alert">
        You've changed room
        Now it looks like:
    </div>
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            @*<div class="form-group">
                <label asp-for="RoomType.Hotel.Name" class="control-label"></label>
                <input asp-for="RoomType.Hotel.Name" class="form-control" />
                <span asp-validation-for="RoomType.Hotel.Name" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorNumber" class="control-label"></label>
                <input asp-for="FloorNumber" class="form-control" />
                <span asp-validation-for="FloorNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomTypeID" class="control-label"></label>
                <select asp-for="RoomTypeID" class="form-control" asp-items="@(new SelectList(ViewBag.RoomTypes, "Id","Name"))"></select>
                <span asp-validation-for="RoomTypeID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>

